body {
    font-family: 'Ergonomique';
    background-image: url(./res/background.svg);
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    color: #47122d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

.card {
    background-color: #fff;
    padding: 1em 3em;
    padding-bottom: 5em;
    margin: 2em;
    box-shadow: 0px 0px 3em rgba(0, 0, 0, 0.2);
}

.navbar {
    margin-bottom: 2em;
}

.content {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
  .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        box-shadow: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  img {
    width: 50%;
  }
}