@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Light.eot');
    src: local('Ergonomique Light'), local('Ergonomique-Light'),
        url('Ergonomique-Light.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Light.woff2') format('woff2'),
        url('Ergonomique-Light.woff') format('woff'),
        url('Ergonomique-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-ExtraLight.eot');
    src: local('Ergonomique ExtraLight'), local('Ergonomique-ExtraLight'),
        url('Ergonomique-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-ExtraLight.woff2') format('woff2'),
        url('Ergonomique-ExtraLight.woff') format('woff'),
        url('Ergonomique-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Bold.eot');
    src: local('Ergonomique Bold'), local('Ergonomique-Bold'),
        url('Ergonomique-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Bold.woff2') format('woff2'),
        url('Ergonomique-Bold.woff') format('woff'),
        url('Ergonomique-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Black.eot');
    src: local('Ergonomique Black'), local('Ergonomique-Black'),
        url('Ergonomique-Black.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Black.woff2') format('woff2'),
        url('Ergonomique-Black.woff') format('woff'),
        url('Ergonomique-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-ThinItalic.eot');
    src: local('Ergonomique Thin Italic'), local('Ergonomique-ThinItalic'),
        url('Ergonomique-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-ThinItalic.woff2') format('woff2'),
        url('Ergonomique-ThinItalic.woff') format('woff'),
        url('Ergonomique-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Thin.eot');
    src: local('Ergonomique Thin'), local('Ergonomique-Thin'),
        url('Ergonomique-Thin.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Thin.woff2') format('woff2'),
        url('Ergonomique-Thin.woff') format('woff'),
        url('Ergonomique-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-LightItalic.eot');
    src: local('Ergonomique Light Italic'), local('Ergonomique-LightItalic'),
        url('Ergonomique-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-LightItalic.woff2') format('woff2'),
        url('Ergonomique-LightItalic.woff') format('woff'),
        url('Ergonomique-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Medium.eot');
    src: local('Ergonomique Medium'), local('Ergonomique-Medium'),
        url('Ergonomique-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Medium.woff2') format('woff2'),
        url('Ergonomique-Medium.woff') format('woff'),
        url('Ergonomique-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-MediumItalic.eot');
    src: local('Ergonomique Medium Italic'), local('Ergonomique-MediumItalic'),
        url('Ergonomique-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-MediumItalic.woff2') format('woff2'),
        url('Ergonomique-MediumItalic.woff') format('woff'),
        url('Ergonomique-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-SemiboldItalic.eot');
    src: local('Ergonomique Semibold Italic'), local('Ergonomique-SemiboldItalic'),
        url('Ergonomique-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-SemiboldItalic.woff2') format('woff2'),
        url('Ergonomique-SemiboldItalic.woff') format('woff'),
        url('Ergonomique-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-BoldItalic.eot');
    src: local('Ergonomique Bold Italic'), local('Ergonomique-BoldItalic'),
        url('Ergonomique-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-BoldItalic.woff2') format('woff2'),
        url('Ergonomique-BoldItalic.woff') format('woff'),
        url('Ergonomique-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Semibold.eot');
    src: local('Ergonomique Semibold'), local('Ergonomique-Semibold'),
        url('Ergonomique-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Semibold.woff2') format('woff2'),
        url('Ergonomique-Semibold.woff') format('woff'),
        url('Ergonomique-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique Ultra';
    src: url('Ergonomique-Ultra.eot');
    src: local('Ergonomique Ultra'), local('Ergonomique-Ultra'),
        url('Ergonomique-Ultra.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Ultra.woff2') format('woff2'),
        url('Ergonomique-Ultra.woff') format('woff'),
        url('Ergonomique-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-BlackItalic.eot');
    src: local('Ergonomique Black Italic'), local('Ergonomique-BlackItalic'),
        url('Ergonomique-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-BlackItalic.woff2') format('woff2'),
        url('Ergonomique-BlackItalic.woff') format('woff'),
        url('Ergonomique-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Italic.eot');
    src: local('Ergonomique Italic'), local('Ergonomique-Italic'),
        url('Ergonomique-Italic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Italic.woff2') format('woff2'),
        url('Ergonomique-Italic.woff') format('woff'),
        url('Ergonomique-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-ExtraLightItalic.eot');
    src: local('Ergonomique ExtraLight Italic'), local('Ergonomique-ExtraLightItalic'),
        url('Ergonomique-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-ExtraLightItalic.woff2') format('woff2'),
        url('Ergonomique-ExtraLightItalic.woff') format('woff'),
        url('Ergonomique-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Ergonomique';
    src: url('Ergonomique-Regular.eot');
    src: local('Ergonomique Regular'), local('Ergonomique-Regular'),
        url('Ergonomique-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-Regular.woff2') format('woff2'),
        url('Ergonomique-Regular.woff') format('woff'),
        url('Ergonomique-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique Ultra';
    src: url('Ergonomique-UltraItalic.eot');
    src: local('Ergonomique Ultra Italic'), local('Ergonomique-UltraItalic'),
        url('Ergonomique-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('Ergonomique-UltraItalic.woff2') format('woff2'),
        url('Ergonomique-UltraItalic.woff') format('woff'),
        url('Ergonomique-UltraItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

