@font-face {
    font-family: 'Ergonomique';
    src: local('Ergonomique Light'), local('Ergonomique-Light'),
        url('Ergonomique-Light.woff2') format('woff2'),
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ergonomique';
    src: local('Ergonomique Regular'), local('Ergonomique-Regular'),
        url('Ergonomique-Regular.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

